/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import "litespeed-common.css";
@import "litespeed-btn.css";
@import "litespeed-checkbox.css";
@import "litespeed-label.css";
@import "litespeed-callout.css";
@import "litespeed-icon.css";

#litespeedcache-purgeerrors{
	margin:5px 0 15px 22px;
}

.litespeed-cache-welcome-panel .form-table > tbody > tr > th{
	padding-left: 10px;
}
.litespeed-cache-welcome-panel .form-table > tbody > tr:nth-of-type(odd){
	background-color: #f9f9f9;
}

.litespeed-cache-advanced-settings{
	position: relative;
	background: #fff;
	font-size: 14px;
	line-height: 2.1em;
}


.litespeed-cache-advanced-settings h3{
	display:inline;
}

textarea#purgebylist{
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: subpixel-antialiased;
}

/* litespeed new style */
.litespeed-tab{
	border-top-left-radius  : 8px;
	border-top-right-radius : 8px;
}

.litespeed-tab.nav-tab-active{
	background-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.litespeed-cache-welcome-panel{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	font-size: 14px;
	/*line-height: 2em;*/
	margin: 0px 0px 20px 0;
	overflow: auto;
	padding: 10px 15px 15px 15px;
	position: relative;
	border-top: none;
}
.litespeed-cache-welcome-panel p{
	font-size: 14px;
	margin: 0 0 10px;
}
.litespeed-cache-welcome-panel ul {
	list-style: disc outside;
	margin-left: 20px;
	padding-left: 10px;
}

.litespeed-input-long{
	width:580px;
}

.litespeed-title{
	font-size: 18px;
	color: #000;
	border-bottom: 1px solid #d8d8d8;
	margin-top: 10px;
	margin-bottom: 20px;
	display: table;
	padding-right: 50px;
}

.litespeed-title:not(:first-of-type){
	margin-top: 30px;
}

.litespeed-expend{
	text-decoration: none;
	font-size: 21px;
	width: 40px;
	text-align: center;
	display: inline-block;
}

/* Manage */

.litespeed-cache-purgeby-text{
	font-size: 11px;
	font-style: italic;
	padding-left: 20px;
	display: inline-block;
	vertical-align: top;
}

.litespeed-cache-purgeby-textarea,
.litespeed-cache-blacklist{
	margin-top: 10px;
    height: auto;
    width: 100%;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
}

.litespeed-cache-blacklist{
	max-width: 600px;
}

/* FAQ */
.litespeed-question{
	background-color: #eee;
	border: 1px solid #eee;
	border-left: 5px solid #1b809e;
	border-radius: 3px;
	padding: 20px;
	margin: 0 20px 5px 10px;
	font-size: 15px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.litespeed-question:hover{
	opacity: 0.8;
	cursor: pointer;
}

.litespeed-answer{
	margin-left: 20px;
	padding: 0 20px 20px 20px;
}

.litespeed-notice{
	font-size: 11px;
	font-style: italic;
	margin-left: 10px;
	position: relative;
	top: 3px;
	color: green;
}


/* shell */
.litespeed-shell {
	width: 98%;
	background: #141414;
	margin: 20px auto 0 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	height: 224px;
}

.litespeed-shell-header {
	z-index: 999;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 34px;
	padding: 5px 0;
}

.litespeed-shell-header-bg {
	opacity: 0.4;
	background-color: #CCCCCC;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-top-radius: 3px;
}

.litespeed-shell-header-bar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	height: 2px;
	background-color: #F48024;
}

/*.litespeed-shell-header-num{
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 14px;
	height: 14px;
	text-align: left;
	color: #808080;
	font-size: 0.85em;
	z-index: 5;
	display: none;
}*/

.litespeed-shell-header-icon-container{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 29px;
	height: 34px;
	z-index: 6;
}

ul.litespeed-shell-body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	margin: 0;
	padding: 5px;
	list-style: none;
	background: #141414;
	color: #45D40C;
	font: 0.8em 'Andale Mono', Consolas, 'Courier New';
	line-height: 1.6em;

	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;

}

.litespeed-shell-body li:before {
	content: '>';
	position: absolute;
	left: 0;
	top: 0;
}

.litespeed-shell-body li {
	word-wrap: break-word;
	position: relative;
	padding: 0 0 0 15px;
	margin: 0;
}

.litespeed-widget-setting{
	background-color: #ecebdc;
	padding: 5px 14px;
	margin: 5px -15px;
}
