.litespeed-panel-h3, .litespeed-panel-para {
	font-family: "Open Sans", Arial, sans-serif;
}

.litespeed-panel-h3 {
	line-height: 18px;
	color: #264d73;
	font-size: 16px;
	margin: 1em 0 6px;
	display: inline-block;
	font-weight: 600;
}

.litespeed-panel-para {
	line-height: 18px;
	font-size: 14px;
	color: #264d73;
	text-decoration: none;
	display: inline-block;
}

.litespeed-panel-wrapper {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.litespeed-panel-wrapper a {
	text-decoration: none;
}

.litespeed-panel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid #b4cce4;
	border-radius: 2px;
	/* box-shadow: 1px 1px 0.5px 0px rgba(0,0,0,0.1); */
	background: #f9fafc;
	padding: 5px;
	width: 311px;
	margin: 0px 0px 10px 10px;
	min-height: 83px;
	position: relative ;
}

.litespeed-panel:hover {
	border: 1px solid #00a3cc;
	/* border-radius: 5px; */
	/* box-shadow: 0.5px 0.5px 0px 0px rgba(0,0,0,0.1); */
	background: #fff;

}

.litespeed-panel-content {
	width: 76%;
}

.litespeed-panel-counter {
	color: #36b0b0;
}

.litespeed-panel-counter-red {
	color: #cc3d6a ;
}

.litespeed-panel-top-right-icon-tick,
.litespeed-panel-top-right-icon-cross {
	position: absolute ;
	right: 5px ;
	background-size: contain;
	width:25px;
	height:25px;
	background-repeat: no-repeat;
}

.litespeed-panel-top-right-icon-tick,
.litespeed-panel-top-right-icon-cross,
[class^="litespeed-panel-icon-"] {
	display: inline-block ;
}

[class^="litespeed-panel-icon-"] {
	background-size: contain;
	width: 60px;
	height: 60px;
	margin: 7px 0px 0px 2px;
	background-repeat: no-repeat;
	display: inline-block;
}

.litespeed-panel-icon-all 				{ background-image: url("../img/icons/all.svg") ; }
.litespeed-panel-icon-revision 			{ background-image: url("../img/icons/revision.svg") ; }
.litespeed-panel-icon-auto_draft 		{ background-image: url("../img/icons/auto_draft.svg") ; }
.litespeed-panel-icon-trash_post 		{ background-image: url("../img/icons/trash_post.svg") ; }
.litespeed-panel-icon-spam_comment 		{ background-image: url("../img/icons/spam_comment.svg") ; }
.litespeed-panel-icon-trash_comment 	{ background-image: url("../img/icons/trash_comment.svg") ; }
.litespeed-panel-icon-trackback-pingback{ background-image: url("../img/icons/trackback-pingback.svg") ; }
.litespeed-panel-icon-expired_transient { background-image: url("../img/icons/expired_transient.svg") ; }
.litespeed-panel-icon-all_transients 	{ background-image: url("../img/icons/all_transients.svg") ; }
.litespeed-panel-icon-optimize_tables 	{ background-image: url("../img/icons/optimize_tables.svg") ; }
.litespeed-panel-icon-purge-front 		{ background-image: url("../img/icons/purge-front.svg") ; }
.litespeed-panel-icon-purge-pages 		{ background-image: url("../img/icons/purge-pages.svg") ; }
.litespeed-panel-icon-purge-all 		{ background-image: url("../img/icons/purge-all.svg") ; }
.litespeed-panel-icon-empty-cache 		{ background-image: url("../img/icons/empty-cache.svg") ; }
.litespeed-panel-icon-purge-403 		{ background-image: url("../img/icons/purge-403.svg") ; }
.litespeed-panel-icon-purge-404 		{ background-image: url("../img/icons/purge-404.svg") ; }
.litespeed-panel-icon-purge-500 		{ background-image: url("../img/icons/purge-500.svg") ; }
.litespeed-panel-top-right-icon-cross 	{ background-image: url("../img/icons/cross_icon.svg") ; }
.litespeed-panel-top-right-icon-tick 	{ background-image: url("../img/icons/success_icon.svg") ; }
