name: CI

on:
  push:
    branches:
      - master
      - dev
      - 'v*.*'
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          coverage: none

      - name: Initialize Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          check-latest: true
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-

      - name: Install npm dependencies
        run: npm clean-install

      - name: Create PHPCS cache directory
        run: mkdir -p .cache

      - name: Install PHPCS dependencies
        run: npm run install-composer-packages

      - name: Run PHPCS check
        run: npm run sniff-check

      - name: Run format check
        run: npm run format-check

      - name: Install typos
        run: |
          curl -LsSf https://github.com/crate-ci/typos/releases/download/v1.35.1/typos-v1.35.1-x86_64-unknown-linux-musl.tar.gz | tar xz
          sudo mv typos /usr/local/bin/

      - name: Run typos check
        run: typos
